set_io --warn-no-port WF_LED 31
set_io --warn-no-port WF_CLK 35
set_io --warn-no-port WF_BUTTON 42
set_io --warn-no-port WF_NEO 32
set_io --warn-no-port WF_CPU1 11
set_io --warn-no-port WF_CPU2 12
set_io --warn-no-port WF_CPU3 13
set_io --warn-no-port WF_CPU4 10
set_io --warn-no-port motorL_pwm 17
set_io --warn-no-port motorL_dir 16
set_io --warn-no-port motorL_en 14
set_io --warn-no-port motorL_encdr 44
set_io --warn-no-port motorR_pwm 23
set_io --warn-no-port motorR_dir 20
set_io --warn-no-port motorR_en 19
set_io --warn-no-port motorR_encdr 37
set_io --warn-no-port bump0 18
set_io --warn-no-port bump1 21
set_io --warn-no-port bump2 25
set_io --warn-no-port bump3 26
set_io --warn-no-port bump4 28
set_io --warn-no-port bump5 27
set_io --warn-no-port ledFL 6
set_io --warn-no-port ledFR 43
set_io --warn-no-port ledBL 38
set_io --warn-no-port ledBR 15
set_io --warn-no-port ir_evenLED 34
set_io --warn-no-port ir_oddLED 36
set_io --warn-no-port ir_snsrch0 46
set_io --warn-no-port ir_snsrch1 47
set_io --warn-no-port ir_snsrch2 45
set_io --warn-no-port ir_snsrch3 48
set_io --warn-no-port ir_snsrch4 2
set_io --warn-no-port ir_snsrch5 3
set_io --warn-no-port ir_snsrch6 4
set_io --warn-no-port ir_snsrch7 9
